<!-- With ejs you can send req to server and get a response back like this <%= 4 + 4 %> ==> 4 in page -->
<!-- To set a default for example: <main>Holaa <%= locals.name || 'Default' %></main> -->

<%- include("./partials/head.ejs") %>
<main>form</main>
<%- include("./partials/foot.ejs") %>
